{% extends 'clsapi/baseEstabelecimento.html' %}

{% block content %}

{% for estabelecimento in clsapi %}

    <div>
        <h2><a href="{% url 'estabelecimento_detail' pk=estabelecimento.pk %}">{{ estabelecimento.descricao }}</a></h2>
        <p>Id: {{ estabelecimento.id }}</p>
        <p>Localizacao: {{ estabelecimento.localizacao|linebreaksbr }}</p>
    </div>
{% endfor %}
    <h1>Novo Estabelecimento</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        <p><label>Descricao:</label> <input type="text" name="descricao"></p>
        <p><label>localizacao:</label> <input type="text" name="localizacao"></p>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

{% endblock %}