{% extends 'clsapi/baseFiltro.html' %}

{% block content %}

{% for filtro in clsapi %}

    <div>
        <h2><a href="{% url 'filtro_detail' pk=filtro.pk %}">{{ filtro.descricao }}</a></h2>
        <p>Id: {{ filtro.id|linebreaksbr }}</p>
    </div>
{% endfor %}
    <h1>Novo Filtro</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        <p><label>Descricao:</label> <input type="text" name="descricao"></p>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

{% endblock %}